  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>{{blogTitle}}</title>
      <link rel="stylesheet" href="static/css/style.css">
      <link rel="icon" href="static/icons/favicon.ico" type="image/x-icon">
      <meta property='og:title' content='{{blogTitle}}'>
      <meta property='og:description' content='{{about}}'>
      <meta property='og:url' content='{{baseURL}}'> 
      <meta property='og:site_name' content='{{blogTitle}}'>
      <meta property='og:type' content='website'>
      <meta property='og:updated_time' content='{{updatedTime}}'/>
      <meta name="twitter:title" content="{{blogTitle}}">
      <meta name="twitter:description" content="{{about}}">
      

  </head>